body { 
    /* Reserve a space for the fixed header */
    margin-top: 45px; 
    background: url('../images/bkgn.jpeg')  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Karla';
}

.darkh {
	background-color: rgba(0,0,0,0.13);
	font-size: 1.35em;
	color: black;
	padding: 1em;
	

}
.navbar-brand{
	font-size: 1.8em;
	font-family: 'Maven Pro';

}

.logo{
	margin: 2% auto;
	
}
.logo a{
	font-size: 1.8em;
	color: #fff;
	font-family: 'Maven Pro';
	text-decoration: none;
	border: 1.5px solid #fff;
	text-transform: uppercase;
	padding: 1.5px 5px 0 5px;
	
}

.logo a:hover{
	background-color: white;
	color: red;
}





.pinterimg{
	max-height:auto;
	max-width: 100%;
	vertical-align: middle;
	display: block;
	margin: 0 auto;

}

.biopix{
	max-height: auto;
	max-width: 100%;
	display: block;
	border-radius: 40%;
	
}

.pinter section {
	text-align: center;
}
.socmedia {
	text-align: center;
}

.abot section {
	text-align: center;
}

ul.social{
	display:block;
	margin: 2% 0;
	list-style-type: none;
	text-align: center;
}
ul.social li{
	font-size: 4.5em;
	display: inline;
	padding:0 1.2%;
}
ul.social li a{
	color: black;
}
ul.social li.facebook a:hover{color:rgb(59,89,152);}
ul.social li.twitter a:hover{color:rgb(0,172,237);}
ul.social li.instagram a:hover{color:rgb(81,127,237);}
ul.social li.youtube a:hover{color:rgb(187,0,0);}
ul.social li.linkedin a:hover{color:rgb(0,123,182);}





